/* Login Page */
.login{
    display: flex;
    align-items: center;
    width: 100%;
}
.image-login{
    background: url(../images/loginBack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100%;
    width: 65%;
}
.image-login h1{
    font-family: 'Dubai';
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}
.image-login p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 35px;
    line-height: 59px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7); 
}
.text-login{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 35%;
}
.text-login .logo{
    width: 274px;
    height: 78px;
    display: block;
    margin:0px auto 24px auto;
}
.text-login .p-head{
    font-family: 'Dubai';
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #555555;
    padding-bottom: 20px;
}
.text-login .form-group{
    width: 429.13px;
    padding-bottom: 15px;
}
.text-login .form-group .label-style{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #555555;
    padding-bottom: 8px;
}
.text-login .form-group .box-input input{
    border: none;
    background: #EEEEEE;
}
.text-login .form-group .box-input b{
   padding:10px 20px 0px 20px;
   font-size: 20px;
}
.text-login .form-group .box-input{
    display: flex;
    background: #EEEEEE;
    height: 50.49px;
    border-radius: 8.07781px;
}
.text-login .forget-password{
    display: block;
    margin-left: auto;
    text-align: right;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #111111;
    transition: 0.3s;
}
.text-login .forget-password:hover{
    font-weight: bold;
}
.login-button{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(267.33deg, #B68934 33.83%, #B79308 122.94%);
    box-shadow: 0px 12.1167px 24.2334px rgba(1, 11, 253, 0.12);
    border-radius: 10px;
    width: 100%;
    border: none;
    height: 50.49px;
    font-family: 'Dubai';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.text-login form .login-button:hover{
    color: #B68934;
    background: #fff;
    border: 2px solid #B68934;
    box-shadow: none;
    filter:none;
}
.flex-border .border-div{
    height: 2px;
    width:180px;
    margin: auto;
    background:#C2C2C2 ;
}
.flex-border span{
    padding: 0 20px;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 14.1362px;
    line-height: 24px;
    color: #C2C2C2;
}
.text-login .register-button{
    background: #fff;
    border-radius: 10px;
    width: 434px;
    height: 50.49px;
    font-family: 'Dubai';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #B68934;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #B68934;
    transition: 0.3s;
}
.text-login .register-button:hover{
    color: #fff;
    background: linear-gradient(267.33deg, #B68934 33.83%, #B79308 122.94%);
}
@media (max-width:1000px) {
    .login{
        flex-direction: column;
    }
    .image-login{
        width: 100%;
       min-height: 40vh;
    }
    .image-login h1{
        font-size: 30px;
        line-height: 2rem;
    }
    .image-login p{
        font-size: 20px;
    }
    .text-login{
        width: 100%;
        margin-top: 40px;
    }
    .text-login .form-group{
        width: 100%;
    }
    .text-login .register-button{
        width: 80%;
    }
    .text-login form{
        width: 80%;
    }
}
/* Register Page */
.register-page{
    position: relative;
    display: flex;
}
.register-page .back-login {
    position: absolute;
    display: flex;
    top: 20px;
    left: 40px;
    align-items: center;
}
.register-page .back-login span{
    font-family: 'Dubai';
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: -0.333333px;
    text-decoration-line: underline;
    color: #000000;
    padding-left: 20px;
}
.register-page .image-logo{
    margin-top: 20px;
}
.register-page .image-logo img{
  display: block;
  margin: auto;
  width: 274px;
  height: 78px;
}
.register-page .image-logo h4{
    font-family: 'Dubai';
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #555555;
    padding-top: 18px;
  }
.register-page .form-register .container-padding{
    padding:20px 57px;
}
.register-page .form-register .form-group{
    padding-bottom: 10px;
}
.form-register .form-group{
    position: relative;
}
.form-register .form-group .fa-chevron-down{
   position: absolute;
   right: 20px;
   top: 60px;
}
.form-register .form-group .box-inputs{
   display: flex;
   background: #EEEEEE;
    border-radius: 8.07781px;
    align-items: center;
    height: 51px;
}
.form-register .form-group input{
    border: none;
    background: #EEEEEE;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    padding-left: 20px;
}
.form-register .form-group input::placeholder{
    color: rgba(85, 85, 85, 0.7);
}
.form-register .form-group label{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #555555;
    padding-bottom: 8px;
}
.form-register .form-group span{
    font-weight: bold;
    font-size:20px;
    padding: 0 20px;
}
.form-register .form-group select{
    border: none;
    height: 51px;
    background: #EEEEEE;
    border-radius: 8.07781px;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    padding-left: 20px;
}
.form-register .form-group select::placeholder{
    color: rgba(85, 85, 85, 0.7);
}
.span-des::before{
   border-radius: 50%;
   background-color: #000;
   
   height: 5px;
   width: 5px;
}
.Worktime span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px !important;
    line-height: 27px;
    color: #555555; 
}
.Worktime .box-inputs{
    width: 50%;
}
.edit-login-button{
    width: 30%;
}
.register-page .flex-two .register-back{
    height: 130vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background: url(../images/RegusterBack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-page .flex-two .register-back h1{
    font-family: 'Dubai';
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}
.register-page .flex-two .register-back p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 35px;
    line-height: 59px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.file {
    position: relative;
    display: block;
  }
  
  .file > input[type='file'] {
    display: none
  }
  
  .file > label {
    cursor: pointer;
    outline: 0;
    user-select: none;
    border: 0.5px solid #A3A3A3;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .file label img{
    margin-right: 15px;
  }
  
  .file > label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file > label:active {
    background-color: hsl(0, 0%, 96%);
  }
  
  .file > label > i {
    padding-right: 5px;
  }
  
  .file--upload > label {
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    letter-spacing: -0.333333px;
    color: #000000;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
  }
  .file--upload > label p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
  }
  .file--upload > label p{
    font-family: 'Dubai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.333333px;
    color: #000000;
    margin-bottom: 0pc;
  }
  .file--upload > label span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.333333px;
    color: rgba(0, 0, 0, 0.5);
  }
  .file--upload > label:hover {
    background: rgba(197, 197, 197, 0.2);
  }
  
  .file--upload > label:active {
    background-color: hsl(204, 86%, 91%);
  }
  @media (max-width:1000px) {
    .register-page{
        flex-direction: column;
    }
    .register-page .flex-one{
        order: 2;
    }
    .register-page .flex-two .register-back{
        height: 50vh;
        width: 100%;
    }
    .register-page .flex-two .register-back h1{
        font-size: 30px;
        line-height: 2.2rem;
    }
    .register-page .flex-two .register-back p{
        font-size: 20px;
    }
    .register-page .back-login{
        background: #Fff;
        padding: 0px 10px;
        border-radius: 10px;
    }
    .register-page .back-login img{
        width: 20px;
    }
    .register-page .back-login span{
        font-size: 16px;
        padding-left: 5px;
        padding-right: 10px;
    }
    .edit-login-button{
        width: 100%;
    }
    .register-page .form-register .container-padding{
        padding: 30px;
    }
  }
  /* Forgot Password Page  */
  .forgot-back{
    background: url(../images/forgetPassword.png) center center / cover no-repeat;
  }
  .text-login h5{
    font-family: 'Dubai bold';
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #151515;
    margin-bottom: 1rem;
  }
  .modal-otp{
    text-align: center;
  }
  .modal-otp h4{
    font-family: 'Dubai Bold';
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
    margin-top: 10px;
    padding-bottom: 15px;
  }
  .modal-otp p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #7D7D7D;
  }
  .btn-close{
    top: 20px;
    left: 20px;
    position: absolute;
    font-size: 15px;
    border: none;
    background: none;
    font-weight: bold;
    color: #000 ;
    opacity: 1 !important;
  }
  #otp input{
    background: rgba(217, 217, 217, 0.35);
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    width: 72.96px;
    height: 67px;
    font-family: 'Dubai';
    font-weight: 500;
    font-size: 30px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
  }
  .form-otp button{
    width: 75%;
  }
  .modal-otp .p-bottom{
    font-size: 14px;
    font-family: 'Dubai';
  }