[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
.tabs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style-type: none;
    min-height: 80vh;
    height: 100%;
    margin-bottom: 30px;
}
  ul{
    padding-left: 0px !important;
  }
  .tab {
    margin-top: 10px;
    cursor: pointer;
    padding:0px 20px;
    height: 44px;
    display: flex;
    align-items: center;
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
  }
  .tab img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    filter: invert(0%) sepia(94%) saturate(25%) hue-rotate(21deg) brightness(95%) contrast(107%);
  }
  .tab.active {
    border-left: 2px solid #B68934;
    color: #B68934;
    font-weight: 500;
  }
  .tab.active img,
  .tab:hover img{
    filter: invert(53%) sepia(86%) saturate(373%) hue-rotate(1deg) brightness(89%) contrast(82%);
  }
  .tab:hover {
    border-left: 2px solid #B68934;
    color: #B68934;
  }
.column-one{
    background: #fff;
    padding: 10px 0px 20px 0;
    border-radius: 15px;
    margin-bottom: 50px;
}
.tab-content{
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}
.form-setting label{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 8px;
}
.form-setting .box-inputs{
    display: flex;
    align-items: center;
    position: relative;
    padding:0px 15px 0 0px;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 50px;
    width: 100%;
}
.form-setting .box-inputs input{
    background: transparent;
    border: none;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
}
.form-setting .box-inputs span img{

    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(217deg) brightness(96%) contrast(108%);
}
.form-setting .box-inputs span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.form-setting .form-group{
    position: relative;
    margin-bottom: 15px;
}
.form-setting  select,
.form-setting  .input-setting
 {
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 50px;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;    
    color: #000000;
    padding: 0 10px;
}
.form-setting .form-group svg{ 
    position: absolute;
    right: 15px;
    top: 50px;
}
.form-setting .file > label{
    padding: 8px;
}
.form-setting .btn-send{
    width: 364px;
    margin-top: 40px ;
}
.btn-access{
    font-size: 17px ;
    width: 136.37px !important;
}
.form-setting .box-state{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 66px;
    padding: 0px 10px 0 20px;
    margin-bottom: 20px;
    position: relative;
}
.form-setting .box-state p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 0px;
    position: relative;
}
.form-setting .box-state .trash-event{
    margin-right: 15px;
}
.form-setting .box-state img:hover{
   transform: scale(1.2);
   cursor: pointer;
}
.rad-div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    position: absolute;
    top: 7px;
}