@font-face {
    font-family: "Dubai Bold";
    src: url(../fonts/Dubai-Bold.ttf);
}
@font-face {
    font-family: "Dubai Light";
    src: url(../fonts/Dubai-Light.ttf);
}
@font-face {
    font-family: 'Dubai';
    src: url(../fonts/Dubai-Regular.ttf);
}
@font-face {
    font-family: "Dubai Medium";
    src: url(../fonts/Dubai-Medium.ttf);
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-1:#B68934;
    --color-2:#B79308;
    --color-3:#111111;
    --color-4:#A3A3A3;
    --color-5:#D9D9D9;
}
/* Dashboard Page 1 */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    
 }
 
 .s-layout__content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex: 1;
    width: 100%;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -260px;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 260px;
    background: #FFFFFF;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 260px;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    width: 100%;
    height: 44px;
    margin-top: 10px;
    transition: 0.4s;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background: #4d6276;
 }
.s-sidebar__nav-link:hover{
   border-left: 4px solid #B68934;
   background: linear-gradient(265.73deg, rgba(182, 137, 52, 0.8) -17.88%, rgba(235, 235, 235, 0.3) 47.1%);
 }
.s-sidebar__nav-link:hover span{
   color: #B68934;
   font-weight: 500;
 }
.s-sidebar__nav-link:hover img{
     filter: invert(49%) sepia(90%) saturate(325%) hue-rotate(1deg) brightness(96%) contrast(91%); 
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .s-sidebar__nav-link{
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: row;
   padding: 0 20px;
   text-decoration: none;
 }
 .s-sidebar__nav-link img{
   margin-right: 20px;
   width: 20px;
   height: 20px;
 }
 .s-sidebar__nav-link span{
   font-family: 'Dubai';
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: rgba(0, 0, 0, 0.6);
   padding-top: 5px;
 }
 .s-sidebar__nav .active{
   border-left: 4px solid #B68934;
   background: linear-gradient(265.73deg, rgba(182, 137, 52, 0.8) -17.88%, rgba(235, 235, 235, 0.3) 47.1%);
 }
 .s-sidebar__nav .active span{
   color: #B68934;
   font-weight: 500;
 }
 .s-sidebar__nav .active img{
     filter: invert(49%) sepia(90%) saturate(325%) hue-rotate(1deg) brightness(96%) contrast(91%); 
 }
 .search-nav input{
   width: 213px;
   height: 48px;
   background: #D9D9D9;
   border-radius: 30px;
}
.search-nav {
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 10px;
}
.search-nav .border-bottom{
   margin-top: 20px;
   height: 0.5px;
   width: 100%;
   background-color: #989898;;
}
 /* Mobile First */
 @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }

    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    
    .s-sidebar__nav {
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 260px;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 260px;
    }
 
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 260px;
    }
    
    .s-sidebar__nav ul {
       top: 1.3em;
    }
 }
/* Header Nav */
.header-nav{
   padding: 20px 20px 20px 20px;
   width: 100%;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   height: 98px;
   background-color: #fff;
}
.language-picker__flag--english::before{
   background-position: center;
   background-size: cover ;
   width: 30px !important;
}
.language-picker__flag--arabic::before{
   background-position: center;
   background-size: cover ;
   width: 30px !important;
}
.language-picker__flag{
   font-family: 'Dubai';
}
.language-picker__button{
   border: none !important;
}
.header-nav-section-two{
   display: block;
   margin-left: auto;
   width: 70%;
}

.header-nav-text p{
   font-family: 'Dubai';
   font-weight: 700;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: rgba(0, 0, 0, 0.6);
}
.header-nav-text h4{
   font-family: 'Dubai';
   font-weight: 700;
   font-size: 25px;
   line-height: 42px;
   letter-spacing: -0.02em;
   color: #B68934;
}
.header-nav-section-two{
   display: flex;
   align-items: center;
   justify-content: center;
}
.style-user{
   position: relative;
}
.style-user .text-user h5{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   text-align: right;
   color: #6E6B7B;
}
.style-user .text-user p{
   font-family: 'Dubai';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   text-align: right;
   color: #B9B9C3;
}
.style-user .img-user{
   width: 50px;
   height: 50px;
   background: url(../images/user.png), #B8DFF2;
   border-radius: 50%;
   margin-left: 15px;
}
.style-user .point-color{
   width: 11px;
   height: 11px;
   border-radius: 50%;
   position: absolute;
   right: 3px;
   bottom: 0px;
   background: #28C76F;
   border: 2px solid #fff;
}
/* notification Code */
.notification{

   position: relative;
   display: inline-block;
 }
 
 .number{
   height: 22px;
   width:  22px;
   background-color: #EA5455;
   border-radius: 20px;
   text-align: center;
   position: absolute;
   top: -10px;
   right: 33px;
   padding: 0px;
   border-style: solid;
   border-width: 2px;
   font-family: 'Dubai';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   color: #FFFFFF;
   padding-top: 1px;
 }
 
 .number:empty {
    display: none;
 }
 
 .notBtn{
   transition: 0.5s;
   cursor: pointer
 }
 
 .svg-inline--fa{
   font-size: 25pt;
   padding-bottom: 10px;
   color: black !important;
   font-weight: bold;
   margin-right: 40px;
   margin-left: 10px;
 }
 
 .box{
   width: 400px;
   height: 0px;
   border-radius: 10px;
   transition: 0.5s;
   position: absolute;
   overflow-y: scroll;
   padding: 0px;
   left: -300px;
   margin-top: 5px;
   background-color: #F4F4F4;
   -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
   -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
   box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
   cursor: context-menu;
 }
 
 .fas:hover {
   color: #d63031;
 }
 
 .notBtn:hover > .box{
   height: 60vh
 }
 
 .content{
   padding: 20px;
   color: black;
   vertical-align: middle;
   text-align: left;
 }
 
 .gry{
   background-color: #F4F4F4;
 }
 
 .top{
   color: black;
   padding: 10px
 }
 
 .display{
   position: relative;
 }
 
 .cont{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #F4F4F4;
 }
 
 .cont:empty{
   display: none;
 }
 
 .stick{
   text-align: center;  
   display: block;
   font-size: 50pt;
   padding-top: 70px;
   padding-left: 80px
 }
 
 .stick:hover{
   color: black;
 }
 
 .cent{
   text-align: center;
   display: block;
 }
 
 .sec{
   padding: 10px 10px;
   background-color: #F4F4F4;
   transition: 0.5s;
 }
 
 .profCont{
   padding-left: 15px;
 }
 
 .profile{
   -webkit-clip-path: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
   width: 49px;
   height: 49px;
   float: left;
   margin-right: 15px;
 }
 
 .txt{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 20px;
   line-height: 34px;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 
 .txt-sub{
   font-family: 'Dubai';
   font-weight: 500;
   font-size: 12px;
   line-height: 20px;
   letter-spacing: -0.333333px;
   color: rgba(0, 0, 0, 0.4);
 }
 
 .new{
   border-style: none none solid none;
   border-color: red;
 }
 

 .sec a{
   text-decoration: none ;
 }
 .message-style{
  
   background: rgba(217, 217, 217, 0.2);
   border: 0.5px solid #DADADA;
   border-radius: 10px;
 }

 /* Section Boxs */
 .boxs .container-padding{
   padding: 15px 40px;
 }
 .box-texts h1{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 25px;
   line-height: 42px;
   text-align: left;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .box-texts p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   text-transform: capitalize;
   color: #838383;
 }
 .box-texts h2{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 25px;
   line-height: 42px;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .box-design{
   display: flex;
   align-items: end;
   padding: 10px 20px;
   border-radius: 15px;
 }
 .box-design .box-img img{
   width: 100px;
   height: 31px;
 }
 .color-1{
   background: #B4E5BC;
 }
 .color-2{
   background: #CCC1F0;
 }
 .color-3{
   background: #F3ABA7;
 }
 .color-4{
   background: #F4CE9B;
 }


 .many-feature .container-padding{
   padding: 20px 40px;
 }
 .many-feature .container-padding .many-feature-flex1{
   padding: 15px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background: #FFFFFF;
   border-radius: 15px;
 }
.scrollbar
{
   height: 300px;
   overflow-y: scroll;
}
.force-overflow
{
   min-height: 274px;
}
 #style-1::-webkit-scrollbar-track
 {
    -webkit-box-shadow: inset 0 0 6px #B68934;
    border-radius: 10px;
    background-color: #F5F5F5;
 }
 #style-1::-webkit-scrollbar
 {
    width: 5px;
    background-color: #F5F5F5;
 }
 #style-1::-webkit-scrollbar-thumb
 {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #B68934;
    background-color: #B68934;
 }
 .many-feature .container-padding .many-feature-flex1 .flex-dateTime{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
   padding-bottom: 5px;
   margin-bottom: 5px;
 }
 .many-feature-flex1 .flex-dateTime h1{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 15px;
   line-height: 15px;
   text-align: center;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .flex-dateTime a{
   font-family: 'Dubai';
   font-weight: 700;
   font-size: 10px;
   line-height: 15px;
   letter-spacing: -0.02em;
   text-decoration-line: underline;
   color: #B68934;
 }
 .many-feature-flex1 .flex-boxs{
   padding: 5px 9px;
   border-radius: 10px;
   margin-bottom:5px;
 }
 .many-feature-flex1 .flex-boxs h1{
   font-family: 'Dubai Medium';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   text-align: left;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .many-feature-flex1 .flex-boxs p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 13px;
   letter-spacing: -0.33px;
   color: rgba(0, 0, 0, 0.4);
 }
 .many-feature-flex1 .flex-boxs-users{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .many-feature-flex1 .flex-boxs-users h5{
   font-family: 'Dubai Medium';
   font-weight: 300;
   font-size: 12px;
   line-height: 10px;
   letter-spacing: -0.333333px;
   color: rgba(0, 0, 0, 0.56);
 }
 .many-feature-flex1 .flex-boxs-users a{
   display: flex;
   align-items: center;
 }
 .many-feature-flex1 .flex-boxs-users a img{
   width: 15px;
   height: 15px;
   margin: 0 3px;
 }
 .many-feature .event-sec{
   background: url(../images/back-home-event.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 15px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .many-feature .event-sec a{
   display: block;
   text-align: right;
   font-family: 'Dubai Bold';
   font-size: 10px;
   line-height: 15px;
   letter-spacing: -0.02em;
   text-decoration-line: underline;
   color: #FFFFFF;
 }
 .event-sec-texts h1{
   font-family: 'Dubai Bold';
   font-size: 16px;
   line-height: 27px;
   letter-spacing: -0.333333px;
   color: #FFFFFF;
 }
 .event-sec-texts p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   letter-spacing: -0.333333px;
   color: rgba(255, 255, 255, 0.4);
   padding-bottom: 30px;
 }
 .event-sec-dateTime{
   display: flex;
   align-items: center;
   justify-content: flex-end;
 }
 .event-sec-dateTime img{
   width: 15px;
   height: 15px;
   margin-right: 5px;
 }
 .event-sec-dateTime p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   letter-spacing: -0.333333px;
   color: #FFFFFF;
 }
 .home-table .container-padding{
   padding: 20px 40px;
 }
 .home-table .home-table-data{
   padding: 20px;
   background: #FFFFFF;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
 .home-table .home-table-data h1{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 22px;
   line-height: 37px;
   color: #080D1C;
 }
 .home-table .home-table-data .home-table-list{
   overflow-x: auto;
 }
 .home-table .home-table-data .home-table-list table th{
   font-family: 'Dubai Medium';
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   color: #2E2E2E;
 }
 .home-table .home-table-data .home-table-list table td{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   color: #000000;
 }
 .home-table .home-table-data .home-table-list table .td-user img{
   width: 30.18px;
   height: 30px;
 }