@font-face {
    font-family: "Dubai Bold";
    src: url(../fonts/Dubai-Bold.ttf);
}
@font-face {
    font-family: "Dubai Light";
    src: url(../fonts/Dubai-Light.ttf);
}
@font-face {
    font-family: 'Dubai';
    src: url(../fonts/Dubai-Regular.ttf);
}
@font-face {
    font-family: "Dubai Medium";
    src: url(../fonts/Dubai-Medium.ttf);
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-1:#B68934;
    --color-2:#B79308;
    --color-3:#111111;
    --color-4:#A3A3A3;
    --color-5:#D9D9D9;
}
p{
   margin-bottom: 0px;
}
body{
   position: relative;
   transition: 0.3s;
}
/* Dashboard Page 1 */
 /* Section Boxs */
 .boxs .container-padding{
   padding: 15px 40px;
 }
 .box-texts h1{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 25px;
   line-height: 42px;
   text-align: left;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .box-texts p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 15px;
   line-height: 5px;
   text-transform: capitalize;
   color: #838383;
 }
 .box-texts h2{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 25px;
   line-height: 42px;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .box-design{
   display: flex;
   align-items: end;
   padding: 10px 20px;
   border-radius: 15px;
   height: 141px;
   justify-content: space-between;
 }
 .box-design .box-img img{
   width: 100px;
   height: 31px;
 }
 .color-1{
   background: #B4E5BC !important;
 }
 .color-2{
   background: #CCC1F0 !important;
 }
 .color-3{
   background: #F3ABA7 !important;
 }
 .color-4{
   background: #F4CE9B !important;
 }
@media (max-width:1000px) {
   .boxs .container-padding{
      padding: 10px;
   }
   .box-design .box-img img{
      width: 100%;
   }
   .box-design{
      height: 150px;
      margin-bottom: 10px;
   }
   .box-img{
      display: none;
   }
   .box-texts h1{
      font-size: 20px;
   }
   .box-texts p{
      font-size: 12px;
   }
}

 .many-feature .container-padding{
   padding: 20px 40px;
 }
 .many-feature .container-padding .many-feature-flex1{
   padding: 15px;
 
   background: #FFFFFF;
   border-radius: 15px;
 }
.scrollbar
{
   box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
   height: 330px;
   overflow-y: scroll;
   border-radius: 15px;
}
.force-overflow
{
   min-height: 274px;
}
 #style-1::-webkit-scrollbar-track
 {
    -webkit-box-shadow: inset 0 0 6px #B68934;
    border-radius: 10px;
    background-color: #F5F5F5;
 }
 #style-1::-webkit-scrollbar
 {
    width: 5px;
    background-color: #F5F5F5;
 }
 #style-1::-webkit-scrollbar-thumb
 {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #B68934;
    background-color: #B68934;
 }
 .many-feature .container-padding .many-feature-flex1 .flex-dateTime{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
   padding-bottom: 5px;
   margin-bottom: 5px;
 }
 .many-feature-flex1 .flex-dateTime h1{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 15px;
   line-height: 15px;
   text-align: center;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .flex-dateTime a{
   font-family: 'Dubai';
   font-weight: 700;
   font-size: 10px;
   line-height: 15px;
   letter-spacing: -0.02em;
   text-decoration-line: underline;
   color: #B68934;
 }
 .many-feature-flex1 .flex-boxs{
   padding: 5px 9px;
   border-radius: 10px;
   margin-bottom:5px;
 }
 .many-feature-flex1 .flex-boxs h1{
   font-family: 'Dubai Medium';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   text-align: left;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .many-feature-flex1 .flex-boxs p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 13px;
   letter-spacing: -0.33px;
   color: rgba(0, 0, 0, 0.4);
 }
 .many-feature-flex1 .flex-boxs-users{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .many-feature-flex1 .flex-boxs-users h5{
   font-family: 'Dubai Medium';
   font-weight: 300;
   font-size: 12px;
   line-height: 10px;
   letter-spacing: -0.333333px;
   color: rgba(0, 0, 0, 0.56);
 }
 .many-feature-flex1 .flex-boxs-users a{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .many-feature-flex1 .flex-boxs-users a img{
   width: 15px;
   height: 15px;
   margin: 0 3px;
 }
 .many-feature .event-sec{
   background: url(../images/back-home-event.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 15px;
   height: 330px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .many-feature .event-sec a{
   display: block;
   text-align: right;
   font-family: 'Dubai Bold';
   font-size: 10px;
   line-height: 15px;
   letter-spacing: -0.02em;
   text-decoration-line: underline;
   color: #FFFFFF;
 }
 @media (max-width:1000px) {
   .many-feature .container-padding{
      padding: 10px;
   }
 }
 .event-sec-texts h1{
   font-family: 'Dubai Bold';
   font-size: 16px;
   line-height: 27px;
   letter-spacing: -0.333333px;
   color: #FFFFFF;
 }
 .event-sec-texts p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   letter-spacing: -0.333333px;
   color: rgba(255, 255, 255, 0.4);
   padding-bottom: 0px;
 }
 .event-sec-dateTime{
   display: flex;
   align-items: center;
   justify-content: flex-end;
 }
 .event-sec-dateTime img{
   width: 15px;
   height: 15px;
   margin-right: 5px;
 }
 .event-sec-dateTime p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   letter-spacing: -0.333333px;
   color: #FFFFFF;
 }
 .home-table .container-padding{
   padding: 0px 40px 30px 40px;
   
 }
 .home-table .home-table-data{
   padding: 20px;
   background: #FFFFFF;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
 .home-table .home-table-data h1{
   font-family: 'Dubai Medium';
   font-weight: 500;
   font-size: 22px;
   line-height: 37px;
   color: #080D1C;
 }
 .home-table .home-table-data .home-table-list{
   overflow-x: auto;
 }
 .home-table .home-table-data .home-table-list table th{
   font-family: 'Dubai Medium';
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   text-align: center;
   color: #2E2E2E;
 }
 .home-table .home-table-data .home-table-list table td{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   text-align: center;
   color: #000000;
 }
.td-status{
  display: flex;
  justify-content: center;
  min-height: 54px;
  height: 100%;
}
 .td-status .circle{
   width: 10.77px;
   height: 10.7px;
   border-radius: 50%;
   margin-right: 5px;
   display: block;
   margin-top:3px;
 }
.home-table-list table td{
   padding-top: 15px;
 }
 .home-table-list table tr:last-child{
   border-bottom: 1px solid #fff !important;
 }
 .home-table .home-table-data .home-table-list table .td-user img{
   width: 30.18px;
   height: 30px;
 }
 .home-table .home-table-data .home-table-list table .td-actions img:hover{
   cursor: pointer;
   transform: scale(1.1);
   filter: invert(49%) sepia(90%) saturate(325%) hue-rotate(1deg) brightness(96%) contrast(91%);
 }
.chart-design{
   background: #FFFFFF;
   padding: 15px;
   border-radius: 15px;
   box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.chart-design h1{
   font-family: 'Dubai';
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #5E5873;
   padding-left: 20px;
}
.s-sidebar__nav button svg{
   color:rgb(197, 2, 2);
   font-size: 30px;
   text-align: right;
}
.s-sidebar__nav button{
   margin-top: 10px;
   text-align: right;
   display: none;
   margin-left: auto;
   margin-right: 30px;
   border: none;
   background: #fff;
}
.modal-agenda .flex-agenda{
   display: flex;
}
.modal-agenda .flex-agenda p{
   font-family: 'Dubai';
   font-weight: 500;
   font-size: 10px;
   line-height: 17px;
   letter-spacing: -0.333333px;
   color: #000000;
   margin: 0 4px;
}
.modal-agenda .modal-title{
   padding-left: 30px;
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 20px;
   line-height: 34px;
   letter-spacing: -0.333333px;
   color: #000000;
}
.modal-agenda .btn-close{
   position: absolute;
   top: 20px;
   left: 10px ;

 }
 .modal-agenda .modal-header{
   align-items: start !important;
   border-bottom: none;
 }
 .modal-agenda .modal-body-agenda .p-header{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   letter-spacing: -0.333333px;
   color: rgba(0, 0, 0, 0.4);
 }
 .modal-agenda .modal-body-agenda h3{
   font-family: 'Dubai';
   font-weight: 500;
   font-size: 20px;
   line-height: 34px;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .modal-agenda .modal-body-agenda .card-agenda{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
 }
 .modal-agenda .modal-body-agenda .card-agenda h4{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .modal-agenda .modal-body-agenda .card-agenda .flex-card-agenda{
   display: flex;
   align-items: center;
 }
 .modal-agenda .modal-body-agenda .card-agenda p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 10px;
   line-height: 17px;
   letter-spacing: -0.333333px;
   color: #858585;
   margin: 0 5px;
 }
 .modal-agenda .modal-body-agenda .card-agenda .photo-user img{
   border-radius: 10px;
   width: 63px;
   height: 62px;
   margin-right: 10px;
 }
 @media (min-width: 576px){
   .modal-agenda .modal-dialog {
    max-width: 600px !important;
}}
@media (max-width:1000px) {
   .chart-design{
      margin-bottom: 20px;
   }
   .scrollbar{
      margin-bottom: 30px;
   }
   .home-table .container-padding{
      padding: 10px;
   }
   .many-feature .event-sec{
      border-radius: 15px;
   }
   .s-sidebar__nav button{
      display: block;
   }
   .modal-agenda .modal-header{
      flex-direction: column;
   }
}
/* Modal Delete */
.modal-delete .modal-body{
   font-family: 'Dubai';
   text-align: center;
}
.modal-delete .modal-body h5{
   font-family: 'Dubai Bold';
   font-weight: 700;
   font-size: 25px;
   line-height: 42px;
   color: #000000;
}
.modal-delete .modal-body p{
   font-weight: 400;
   font-size: 20px;
   line-height: 34px;
   color: #7D7D7D;
}
.modal-delete .modal-header .btn-close{
   margin: -0.5rem auto -0.5rem -0.5rem;
}
.modal-delete .modal-body img{
   width: 157px;
   height: 145px;
   display: block;
   margin: auto;
}
.modal-delete .btn-delete{
   font-family: 'Dubai Medium';
   background: linear-gradient(268.66deg, #B68934 -15.62%, #B79308 101.46%);
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.14);
   border-radius: 10px;
   text-align: center;
   border: none;
   width: 180.17px;
   height: 46px;
   color: #fff;
}
.btn-hide{
   font-family: 'Dubai Medium';
   border-radius: 10px;
   text-align: center;
   border: 1px solid #000000;
   width: 180.17px;
   height: 46px;
   color: #000000;
   transition: 0.3s;
}
.btn-hide:hover{
   background: linear-gradient(268.66deg, #B68934 -15.62%, #B79308 101.46%);
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.14);
   color: #fff;
}
.modal-delete .modal-footer {
   border-top: none;
}
/* File Image */
.file {
   position: relative;
   display: block;
 }
 
 .file > input[type='file'] {
   display: none
 }
 
 .file > label {
   cursor: pointer;
   outline: 0;
   user-select: none;
   border: 0.5px solid #A3A3A3;
   border-style: solid;
   border-radius: 4px;
   border-width: 1px;
   background-color: hsl(0, 0%, 100%);
   color: #000000;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 16px;
   padding-bottom: 16px;
   display: flex;
   justify-content: start;
   align-items: center;
 }
 .file label img{
   margin-right: 15px;
 }
 
 .file > label:hover {
   border-color: hsl(0, 0%, 21%);
 }
 
 .file > label:active {
   background-color: hsl(0, 0%, 96%);
 }
 
 .file > label > i {
   padding-right: 5px;
 }
 
 .file--upload > label {
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   text-align: left;
   letter-spacing: -0.333333px;
   color: #000000;
   background: rgba(217, 217, 217, 0.2);
   border: 0.5px solid #A3A3A3;
   border-radius: 10px;
 }
 .file--upload > label p{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   text-align: center;
   letter-spacing: -0.333333px;
   color: #000000;
 }
 .file--upload > label p{
   font-family: 'Dubai';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   letter-spacing: -0.333333px;
   color: #000000;
   margin-bottom: 0pc;
 }
 .file--upload > label span{
   font-family: 'Dubai';
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   letter-spacing: -0.333333px;
   color: rgba(0, 0, 0, 0.5);
 }
 .file--upload > label:hover {
   background: rgba(197, 197, 197, 0.2);
 }
 
 .file--upload > label:active {
   background-color: hsl(204, 86%, 91%);
 }
 .modal-content{
  border-radius: 15px !important;
 }

 .section-volunteer .section-volunteer-header h1{
  font-family: 'Dubai Medium';
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
  color: #151515;
}
.section-volunteer .section-volunteer-header a{
  font-family: 'Dubai';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.section-volunteer .section-volunteer-header img{
  width: 18px;
  margin-top: -3px;
  height: 16px;
  filter: invert(72%) sepia(0%) saturate(1%) hue-rotate(21deg) brightness(88%) contrast(90%);
}
.section-volunteer .container-padding {
  padding: 7px 20px;
}
.section-volunteer .section-volunteer-header .fa-chevron-right{
  width: 15px;
  height: 13px;
}
.section-volunteer .section-volunteer-header .a-active{
  color: #B68934;
  font-family: 'Dubai Medium';
}
.form-control:focus:focus{
  box-shadow: none !important;
 }
 .btn-send{
  background: linear-gradient(268.66deg, #B79308 -15.62%, #B68934 101.46%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  height: 48px;
  font-family: 'Dubai';
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  width: 180.17px;
  border: none;
}
.btn-send:hover{
  background: linear-gradient(268.66deg, #8d7105 -15.62%, #7d5409 101.46%);
}
.border-left{
  border-left: 0.5px solid #989898;
  margin: 0 20px;
}
