.section-volunteer .container-padding{
 padding: 7px 20px;
}
.section-volunteer .section-volunteer-header h1{
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 25px;
    line-height: 42px;
    color: #151515;
}
.section-volunteer .section-volunteer-header a{
    font-family: 'Dubai';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.section-volunteer .section-volunteer-header img{
    width: 18px;
    margin-top: -3px;
    height: 16px;
    filter: invert(72%) sepia(0%) saturate(1%) hue-rotate(21deg) brightness(88%) contrast(90%);
}
.section-volunteer .section-volunteer-header .fa-chevron-right{
    width: 15px;
    height: 13px;
}
.section-volunteer .section-volunteer-header .a-active{
    color: #B68934;
    font-family: 'Dubai Medium';
}
/* Tabs CSS */
.b-tab {
    display: none;
    transition: 0.3s;
  }
  
  .b-tab.active {
    display: block;
    transition: 0.3s;
  }
  
  .b-nav-tab {
    display: inline-block;
    padding: 7px 10px 7px 10px;
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    border-radius: 10px 10px 0px 0px;
    margin-right: 10px;
    background: #FFFFFF;
  }
  .b-nav-tab:hover {
    color: #B68934;
  }
  .b-nav-tab.active {
    border: 1px solid #B68934;
    color: #B68934;
    border-bottom: none;
  }

 .section-volunteer .section-volunteer-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-volunteer .section-volunteer-filter{
    display: flex;
    align-items: center;
  }
  .section-volunteer  .section-volunteer-search{
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.3);
    border: 0.3px solid #A3A3A3;
    border-radius: 10px;
    margin-right: 15px;
    padding: 8px 15px;
    width: 288px;
    height: 43px;
    margin-top: -30px;
  }
  .section-volunteer  .section-volunteer-search input{
    border: none;
    background: none;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.333333px;
    color: #888888;
   }
   .section-volunteer  .section-volunteer-search input::placeholder{
    color: #888888;
   }
   .section-volunteer  .section-volunteer-filter .fa-search{
    color: #000000;
    width: 24px;
    height: 24.57px;
   }
   .section-volunteer  .section-volunteer-filter .fa-filter{
    color: #000000;
    width: 16px;
    height: 16px;
    margin-right: 5px;
   }
   .section-volunteer  .section-volunteer-filter button{
    background: rgba(217, 217, 217, 0.3);
    border: 0.3px solid #A3A3A3;
    border-radius: 10px;
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    padding: 10px 15px;
    transition: 0.3s;
    width: 90px;
    height: 43px;
    margin-top: -30px;
   }
   .section-volunteer  .section-volunteer-filter button:hover{
    background: rgba(158, 158, 158, 0.3);
   }
   .section-volunteer .home-table .home-table-data{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
   }
   .section-volunteer .home-table .container-padding{
    padding: 0px;
   }
   .section-filter {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    background: #fff;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    z-index: 3000;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
   .section-filter form label{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.333333px;
    color: #000000;
    padding-bottom: 8px;
   }
   .section-filter form .form-group{
    padding-bottom: 15px;
    border-bottom:0.5px solid #B3B3B3;
    margin-bottom: 15px;
   }
   .section-filter form .box-input{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
   }
   .section-filter form .box-input input{
    border: none;
    background: none;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.333333px;
    color: #000000;
   }
   .section-filter form .box-input img{
    padding: 0 15px;
   }
   .form-control:focus:focus{
    box-shadow: none !important;
   }
   .section-filter form select{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding:0px 15px;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.333333px;
    color: #000000;
   }
   .section-filter form .box-input span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
   }
   .buttons-days button{
    width: 112px;
    height: 50px;
    font-family: 'Dubai';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.333333px;
    color: #000000;
    text-align: center;
    border: none;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    border: 5px hidden;
    outline: none;
   }
   .test_skill {
    border: 1.5px solid #B68934 !important;
  }
   .buttons-days{
    border-bottom: none !important;
   }
   .btn-check:focus+.btn, .btn:focus{box-shadow: none !important;}
   .overShadow{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    background-color: #696969;
    width: 100%;
    opacity: .4;
    z-index: 2000;
    display: block;
    transition: 0.5s;
   }
   @media (max-width:1000px) {
    .section-filter {
        width: 80%;
    }
    .section-volunteer .section-volunteer-tabs{
        flex-direction: column;
    }
    .tab-order{
        order: 2;
        margin-top: 30px;
    }
    .section-volunteer .section-volunteer-search{
        width: 80%;
        margin-top: 0px;
        margin-right: 10px;
    }
    .section-volunteer .section-volunteer-filter button{
        margin-top: 0px;
        padding:5px 0px;
        font-size: 13px;
    }
    .section-volunteer .section-volunteer-filter{
        order: 1;
    }
    .section-volunteer .container-padding{
        padding: 7px;
    }
   }
   /* Volunteer View  */
   .section-volunteer-filter .btn-add{
    color: #FFFFFF !important;
    border: none !important;
    margin-left: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: linear-gradient(250.81deg, #B68934 37.09%, #B79308 80.38%) !important;
   }
   .section-volunteer-filter select{
        background: rgba(217, 217, 217, 0.2);
        border: 0.5px solid #A3A3A3;
        border-radius: 10px;
        width: 259px;
        height: 42px;
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
        letter-spacing: -0.333333px;
        color: #000000;
        padding: 0 15px;
        margin-top: -30px;
   }
   .box-volunteer .container-padding{
    padding: 20px;
    width: 100%;
   }
   .box-volunteer-flex{
        display: flex;
   }
   .style-box-volunteer{
    padding: 17px;
    background: #fff;
    border-radius: 15px;
   }
   .box-volunteer-flex .box-volunteer-flex-img{
     padding-right: 10px;
    }
    .box-volunteer-flex .box-volunteer-flex-img img{
        width: 89px;
        height: 88px;
    }
    .box-volunteer-flex .box-volunteer-flex-texs h1{
        font-family: 'Dubai Medium';
        font-size: 20px;
        line-height: 34px;
        color: #000000;
        display: flex;
        align-items: center;
    }
    .box-volunteer-flex-texs p{
        margin-bottom: 7px;
        display: flex;
        align-items: center;
    }
    .box-volunteer-flex-texs p span{
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 10px;
        line-height: 17px;
        color: #858585;
    }
    .box-volunteer-flex-texs p span img{
       width: 15px;
       height: 15px;
       margin: 0 5px;
       filter: invert(54%) sepia(20%) saturate(11%) hue-rotate(53deg) brightness(93%) contrast(93%);
    }
    .box-volunteer-flex-texs .div-status{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 10px;
    }
    .title-volunteer{
        font-family: 'Dubai Bold';
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        color: #000000;
    }
    .box-volunteer-days span{
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
    }
    .box-volunteer-days .span-active{
        color: #000000;
    }
    .box-volunteer-times{
        border-left: 0.3px solid #000000;
        padding-left: 15px;
    }
    .time-volunteer p span{
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #000000;
    }
    .time-volunteer p .address{
        color: rgba(0, 0, 0, 0.5);
        padding:0px 5px 0px 2px;
    }
    .section-detalis-volounteer{
        padding: 20px;
    }
    .section-detalis-volounteer .tab-order{
        padding-left: 20px;
    }
    .section-detalis-volounteer .data-volunteer{
        background: #fff;
        padding: 20px 24px;
        border-radius: 15px;
    }
    /* Card Volunteer */
    .card-volunteer{
        position: relative;
        background: rgba(247, 247, 247, 0.2);
        border: 0.8px solid #D9D9D9;
        border-radius: 10px;
        height: 136px;
        padding: 10px 8px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .check-circle{
        position: absolute;
        right: 10px;
        top:10px;
        cursor: pointer;
    }
    .check-success{
        filter: invert(34%) sepia(89%) saturate(2227%) hue-rotate(75deg) brightness(100%) contrast(101%);    }
    .check-danger{
        filter: invert(12%) sepia(76%) saturate(5712%) hue-rotate(10deg) brightness(89%) contrast(126%);
    }
    .card-volunteer h4{
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
    }
    .card-volunteer .p-head{
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #000000;
        width: 80%;
    }
    .card-volunteer .p-details{
        display: flex;
        align-items: center;
    }
    .card-volunteer .p-details span{
        font-family: 'Dubai';
        font-weight: 400;
        font-size: 10px;
        line-height: 17px;
        color: #858585;
        padding: 0 5px;
    }
    .card-volunteer .p-details img{
        width:20px;
        margin-top: -3px;
        height: 20px;
        padding-right: 5px;
        filter: invert(56%) sepia(21%) saturate(25%) hue-rotate(44deg) brightness(90%) contrast(87%);
    }
    /* Modal Add Volunteer */
.modal-add-volunteer .modal-body{
    padding: 35px 15px !important;
    position: relative;
 }
 .img-check{
    position: absolute;
    right:20px;
    top: 20px;
 }
 .modal-add-volunteer form .form-group{
    margin-bottom: 15px;
 }
 .modal-add-volunteer form label{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.333333px;
    margin-bottom: 8px;
    color: #000000;
    display: block;
 }
 @media (min-width: 576px){
    .modal-add-volunteer .modal-dialog-centered {
     max-width:861px;
    }
 }
 .modal-add-volunteer form .volunteer-input,
 .modal-add-volunteer form textarea
 {
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 50px;
    width: 100%;
 }
 .modal-add-volunteer form input,
 .modal-add-volunteer form textarea{
    font-family: 'Dubai';
    font-weight: 400;   
    font-size: 13px;
    line-height: 22px;
    color: #000000;
 }
 .modal-add-volunteer form textarea{
    height: 90px !important;
 }
 .modal-add-volunteer .button-form button{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 50px;
    width: 112px;
    margin-bottom: 10px;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #000000;
 }
 .modal-add-volunteer .modal-footer{
    border-top: none;
 }
.btn-send{
    background: linear-gradient(268.66deg, #B79308 -15.62%, #B68934 101.46%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    height: 48px;
    font-family: 'Dubai';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    width: 180.17px;
    border: none;
 }
 .btn-send:hover{
    background: linear-gradient(268.66deg, #8d7105 -15.62%, #7d5409 101.46%);
 }
 .modal-add-volunteer form .box-inputs{
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    width: 100%;
    height: 50px;
 }
 .modal-add-volunteer form .box-inputs label{
    padding: 0 16px;
    margin-bottom: 0px;
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
 }
 .modal-add-volunteer form .box-inputs input{
    background: none;
    border: none;
 }
 .modal-add-volunteer form .form-group .box-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 50px;
 }
 .modal-add-volunteer form .form-group .box-icon input{
    border: none;
    background: none;
 }
 .modal-add-volunteer form .form-group .box-icon img{
    margin: 0 15px;
    width: 18px;
    height: 18px
 }
 /* Certificate */
 .show-certificate .modal-body{
    padding: 10px !important;
 }
 .show-certificate-texts{
    position: relative;
    background: url(../images/back-certificate.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 409.8px;
    padding-top: 30px;
 }
 @media (min-width: 576px){
.show-certificate .modal-dialog-centered {
    max-width:649px;
}}
.show-certificate-texts .logo-certificate{
    display: block;
    margin: auto;
    width: 119.13px;
    margin-bottom: 20px;
    height: 34.94px;
}
.show-certificate-texts h4{
    font-family: 'Dubai Medium';
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #B68934;
}
.show-certificate-texts p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}
.show-certificate-texts h2{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.show-certificate-texts span{
    font-family: 'Dubai';
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    display: block;
    margin: auto;
    color: #000000;
    padding-bottom: 10px;
}
.show-certificate-texts h5{
    font-family: 'Dubai';
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.show-certificate-texts .signature{
    position: absolute;
    left: 24px;
    bottom: 23px;
}
.show-certificate .modal-footer{
 border-top: 0px;
}
.show-certificate .modal-header{
 border-bottom: 0px;
 position: absolute;
 z-index: 100;
}
.show-certificate .modal-header button{
   position: absolute;
   top: 29px;
   left: 29px;
}
/* Modal Proof */
.proof-modal .modal-header{
    border-bottom: 0px;
    position: absolute;
    z-index: 100;
}
.proof-modal .modal-header button{
    position: absolute;
    top: 19px;
    left: 29px;
    font-size: 30px;
    color: #fff;
    background: #000;
    width: 25px;
    height: 25px;
    padding: 0px;
    border: none;
}
.proof-modal .proof-modal-texts .back-proof{
    height: 190px;
    margin-bottom: 15px;
    width: 100%;
}
@media (min-width: 576px){
    .proof-modal .modal-dialog-centered {
        max-width:649px;
}}
.proof-modal-texts p{
    display: flex;
    align-items: center;
}
.proof-modal-texts p span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.proof-modal-texts p .span-bold{
    color: #000000;
    padding: 0 5px;
}
.proof-modal-texts p img{
    width: 23px;
    height: 23px;
    margin-right: 5px;
}
.proof-modal-texts h4{
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}
.proof-modal-texts p{
    font-family: 'Dubai';
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
}
.proof-modal  .modal-footer{
    border-top: none;
}
.proof-modal  .modal-footer .btn-send{
    width: 300px;
    font-weight: 500;
}
.proof-modal .form-group{
    margin-bottom: 10px;
}
.proof-modal .form-group input{
    font-family: 'Dubai';
     font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
}
.proof-modal .form-group .input-proof{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;  
    height: 50px;
    width: 100%;
}
.proof-modal .form-group label{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    padding-bottom: 5px;
}
.proof-modal .form-group input{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
}
.proof-modal .form-group .box-input{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;  
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
.proof-modal .form-group .box-input input{
    border: none;
    background: none;
}
.proof-modal .form-group .box-input img,
.proof-modal .form-group .box-input svg{
    width: 18px;
    height: 18px;
    margin: 0 10px;
}
.proof-modal .form-group .date-box{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 10px;
    height: 50px;
}
.proof-modal .form-group .date-box span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}
.proof-modal .form-group .date-box input{
    background: none;
    border: none;
}
/* Emoployees Page */

.section-employees .home-table-data {
    border-top-right-radius: 15px  !important;
    border-top-left-radius: 15px !important;;
}
.section-volunteer-filter .lock-off{
    background: rgba(217, 217, 217, 0.2);
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    padding: 8px;
    width: 42px;
    height: 42px;
}
.section-employees .container-padding{
    padding:0px 20px 20px 20px;
}
.section-employees .section-employees-card {
    padding: 17px;
    height: 147px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.section-employees .section-employees-card .section-employees-card-img img{
    border-radius: 10px;
    width: 99px;
    height: 98px;
    margin-right: 10px;
}
.section-employees .section-employees-card .section-employees-card-text h3{
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    display: flex;
    align-items: center;
}
.section-employees .section-employees-card .section-employees-card-text .status-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.section-employees .section-employees-card .section-employees-card-text .div-texts{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.section-employees .section-employees-card .section-employees-card-text .div-texts span{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    color: #858585;
}
.section-employees .section-employees-card .section-employees-card-text .div-texts img{
    margin:0px 5px;
    filter: invert(55%) sepia(0%) saturate(134%) hue-rotate(285deg) brightness(95%) contrast(77%);
}
.section-employees .section-employees-card .section-employees-card-text .div-texts .back-Conference{
    width: 12.77px;
    height: 12.7px;
    border-radius: 50%;
    margin:0px 5px;

}
.section-employees-card2 {
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 15px;
    height: 147px;
    padding: 10px;
}
.section-employees-card2 h3{
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 7px;
}
.section-employees-card2 p{
    font-family: 'Dubai';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    color: #838383;
    margin-bottom: 10px;
}
.section-employees-card2 .calendaradd{
    display: flex;
    align-items: center;
}
.section-employees-card2 .calendaradd img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    filter: invert(0%) sepia(95%) saturate(20%) hue-rotate(46deg) brightness(92%) contrast(100%);}
.section-employees-card2 .calendaradd span{
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    color: #131313;}
.section-employees-card2 .div-buttons button{
    width: 112px;
    height: 36px;
    font-size: 13px;
    margin-left: 10px;
}