.section-volunteer .container-padding{
 padding: 7px 20px;
}
.section-volunteer .section-volunteer-header h1{
    font-family: 'Dubai Medium';
    font-weight: 500;
    font-size: 25px;
    line-height: 42px;
    color: #151515;
}
.section-volunteer .section-volunteer-header a{
    font-family: 'Dubai';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.section-volunteer .section-volunteer-header img{
    width: 18px;
    height: 16px;
    filter: invert(72%) sepia(0%) saturate(1%) hue-rotate(21deg) brightness(88%) contrast(90%);
}
.section-volunteer .section-volunteer-header .fa-chevron-right{
    width: 15px;
    height: 13px;
}
.section-volunteer .section-volunteer-header .a-active{
    color: #B68934;
    font-family: 'Dubai Medium';
}
/* Tabs CSS */
.b-tab {
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }
  
  .b-nav-tab {
    display: inline-block;
    padding: 20px;
  }
  
  .b-nav-tab.active {
    color: #ff4200;
  }